# Core ML and Transformers
torch>=2.0.0
transformers>=4.37.0
datasets

# Training framework
pytorch_lightning>=2.2.0

# Configuration
hydra-core>=1.3.2
omegaconf>=2.3.0

# Utility
pandas
scikit-learn
pyarrow
matplotlib

# For CLI
click

# Optional but recommended
tqdm

# DVC
dvc

# For tests
pytest

# For pre-commit
pre-commit
